# Django settings
SECRET_KEY=
DEBUG=

# postgresql db settings
ENGINE=
NAME=
USER=
PASSWORD=
HOST=
PORT=

# Redis
BACKEND=
LOCATION=

# email superuser
SUPERUSER_EMAIL=
SUPERUSER_PASSWORD=

# Stripe API secret key
STRIPE_API_KEY=

# Celery settings
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=