# Django settings
SECRET_KEY=
DEBUG=

# Postgresql db settings
ENGINE=
NAME=
USER=
PASSWORD=
HOST=db
PORT=

# Redis
BACKEND=
LOCATION=redis://redis:6379/1

# email superuser
SUPERUSER_EMAIL=
SUPERUSER_PASSWORD=

# Stripe API secret key
STRIPE_API_KEY=

# Celery settings
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Server IP
SERVER_IP=
SSH_USER="private SSH-key"

# DockerHub username
DOCKER_HUB_USERNAME=
DOCKER_HUB_ACCESS_TOKEN=